*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.cards-container {
    background: brown;
    display: flex;
    padding: 5%;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    border: 1px solid black;
    padding: 10px;
}

.card {
    height: 250px;
    width: 200px;
    border: 1px solid white;
    background: url(../images/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    display: flex;
    color: white;
    background-color: black;
    font-size: 70%;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
}

.rest {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 70%;
    font-style: italic;
    height: 100px;
}

.content {
    margin-top: 120px;
}

.rest .buttons {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.rest button {
    margin: 5px;
}

.rest h4 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -20px;
}

/* Filters Styling */

.hidden-1 {
    opacity: 0;
    transition: all 0.3s linear;
}

.hidden-1.show {
    opacity: 1;
}

.hidden-2 {
    opacity: 0;
    transition: all 0.3s linear;
}

.hidden-2.show {
    opacity: 1;
}

.hidden-3 {
    opacity: 0;
    transition: all 0.3s linear;
}

.hidden-3.show {
    opacity: 1;
}

/* modal */

#modal{
    display: none;
}


#modal.modal-active {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5% 3%;
    margin: auto;
    margin-top: 200px;
    opacity: 1;
    transform: translate(-50%, -50%);
    position: absolute;
    background: yellow;
    z-index: 100;
}


