* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin-top: 120px;
}

.limited {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin-top: 20px;
}

.best-con {
    margin-top: 50px;
}

.best {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin-top: 20px;
}

.heading {
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../images/header2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.title {
    display: flex;
    color: white;
    font-size: 80%;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
}

.rest {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    font-size: 70%;
    font-style: italic;
}
