* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    margin-top: 120px;
}

.limited-con {
    margin: 50px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.limited {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin-top: 20px;
}

.best-con {
    margin: 50px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.best {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin-top: 20px;
}

.best .card {
    width: 150px;
    height: 200px;
}

.card {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../images/header2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.title {
    display: flex;
    color: white;
    font-size: 80%;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
}

.rest {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    font-size: 70%;
    font-style: italic;
}

#modal{
    display: none;
}


#modal.modal-active {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5% 3%;
    margin: auto;
    margin-top: 200px;
    opacity: 1;
    transform: translate(-50%, -50%);
    position: absolute;
    background: url(../images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}

.mod-content {
    background: white;
    border: 1px solid black;
    padding: 20px;
}

.mod-content button {
    color: blue;
    font-size: 100%;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid blue ;
    background: black;
    margin: 5px;
    width: 40px;
    transition: 0.3s ease-in-out;
}

.mod-content button:hover {
    color: black;
    background: blue;
    border: 2px solid black;
    transition: 0.3s ease-in-out;
}

.mod-content .title {
    color: blue;
    display: flex;
    justify-content: center;
    font-size: 200%;
}

.mod-content .universe {
    color: black;
    display: flex;
    justify-content: flex-end;
    font-size: 100%;
}

.mod-content .era {
    color: black;
    display: flex;
    justify-content: flex-end;
    font-size: 70%;
}

.mod-content .description {
    color: black;
    font-size: 70%;
    margin: 10px;
    font-weight: bold;
    font-style: italic;
}

.mod-content .price {
    color: black;
    display: flex;
    justify-content: flex-end;
    font-weight: lighter;

}