* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.heading {
    color: white;
    background-color: black;
    padding: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.form-container {
    display: flex;
    margin: auto;
    background-color: white;
    height: 50vh;
    width: 50vw;
}

form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 10px;
    margin: auto;
    gap: 15px;
}

input {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 40vw;
    border-radius: 10px;
    padding: 5px;
}

.btn {
    width: 40vw;
    border-radius: 50px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 100%;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    transition: 0.3s ease-in-out;
    letter-spacing: 5px;
}

.account a {
    text-decoration-line: none;
    color: white;
    background-color: black;
    padding: 5px;
    font-size: 100%;
    font-style: italic;
    transition: 0.3s ease-in-out;
}

.account a:hover {
    letter-spacing: 3px;
    transition: 0.3s ease-in-out;
}